<!DOCTYPE html>
{% extends "tutors/base2.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.user.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user' object.user.name %}">{{ object.user.name }}</a>
        <small class="text-muted">{{ object.user.course }}</small>
      </div>
      <p class="article-content">{{ object.contacts }}</p>
    </div>
  </article>
{% endblock content %}