<!DOCTYPE html>
{% extends "tutors/base2.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" >{{ object.profile.user.username }}</a>
        <p>{{ object.profile.discipline.title }}</p>
        <small class="text-muted">{{ object.profile.course }}</small>
      </div>
      <p class="article-content">{{ object.contacts }}</p>
    </div>
  </article>
{% endblock content %}