{% extends "tutors/base4.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Новая запись</legend>
                <h1>{{ form.title }}</h1>
                <h3>{{form.discipline}}</h3>
                <h4>{{form.course}}</h4>
                <p>{{ form.postText}}</p>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Сохранить</button>
            </div>
        </form>
    </div>
{% endblock content %}