{% extends "tutors/base3.html" %}
{% block content %}
    {% if posts %}
        <h1 class="mb-3">Записи по предмету {{ posts.0.discipline.title }} ({{ page_obj.paginator.count }})</h1>
    {% else %}
        <h1 class="mb-3">Нет записей по этому предмету</h1>
    {% endif %}
    {%if user.Profile.tutorPermissions%}
    <article class="media content-section">
          <div class="detail-mininfo">
            <div class="article-metadata">
                <a class="btn btn-outline-info mb-4 mr-1" href="../new/">Создать новую запись</a>
            </div>
          </div>
        </article>
    {%endif%}
    {% for post in posts %}
        <article class="media content-section">
          <div class="detail-mininfo">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'post-detail' post.pk %}">{{ post.title }}</a>
              <small class="text-muted">{{ post.course.title }}</small>
            </div>
            <h2 class="article-content">{{ post.postText }}</h2>
          </div>
        </article>
    {% endfor %}
    <div class="pagination justify-content-center"> 
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4 mr-1" href="?page=1">Первая</a>
        <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4 mr-1" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.next_page_number }}">Следующая</a>
        <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
      {% endif %}

    {% endif %}
  </div>
{% endblock content %}